// Write your custom CSS here

@use "variables";

img {
    border-radius: 3px;
}

.image-click {
    display: inline-block;
    text-decoration: none;
}

.img-container {
    text-align: center;
    margin: 0 auto 0.5rem;
}
