// Write your custom CSS here

@use "variables";

img,
video {
    border-radius: 3px;
}

.image-click {
    display: inline-block;
    text-decoration: none;
}

.video-container,
.img-container {
    text-align: center;
    margin: 0 auto 0.5rem;

    br {
        display: none;
    }
}

.video-container>video {
    max-width: 100%;
}