{% if not process %}
    {% set process = "true" %}
{% endif %}

{% if get_env(name="USE_CDN", default="false") == "true" %}
    {% set use_cdn = true%}
{% else %}
    {% set use_cdn = false%}
{% endif %}

{% if use_cdn %}
    {% set image_path = "https://files.skmgeek.com/blog/" ~ src %}
{% else %}
    {% set image_path = "/files/" ~ src %}
    {% set mdata = get_image_metadata(path=image_path)%}
{% endif %}
<div class="img-container"><a class="image-click" href="{{image_path}}">
{% if title %}
    {% set full_title = title ~ " (Click to open in new tab)" %}
{% else %}
    {% set full_title = alt ~ " (Click to open in new tab)" %}
{% endif %}
{% if size_landscape %}
    {% if size_portrait %}
        {{ throw(message='Image "' ~ src ~ '" has both size_landscape and size_portrait specified. Please only specify one.') }}
    {% endif %}

    {% set size = size_landscape %}
{% elif size_portrait %}
    {% set size = size_portrait %}
{% else %}
    {{ throw(message='Image "' ~ src ~ '" must have a size_portrait or size_landscape specified.') }}
{% endif %}
{% if size == "small" %}
    {% set s = 400 %}
{% endif %}
{% if size == "medium" %}
    {% set s = 650 %}
{% endif %}
{% if size == "large" %}
    {% set s = 900 %}
{% endif %}

{% if not use_cdn %}
    {% set r = s * 2 %}
    {% if (r >= mdata.width) and (r >= mdata.height) and (process == "true") %}
        {{ throw(message='Image "' ~ src ~ '" is too small to compress/process for requested size "' ~ size ~ '". Mark it as process="false".') }}
    {% endif %}
{% endif %}

{% if process == "true" %}
    {% if use_cdn %}
        {% set mapping = load_data(path="data/cdn_processed.json", required=false) %}

        {% set key_full = src %}
        {% set key_base = src | split(pat="/") | last %}

        {% if mapping and (key_full in mapping) %}
            {% set processed_rel = mapping[key_full] %}
            {% set url = "https://files.skmgeek.com/blog/" ~ processed_rel %}

        {% elif mapping and (key_base in mapping) %}
            {% set processed_rel = mapping[key_base] %}
            {% set url = "https://files.skmgeek.com/blog/" ~ processed_rel %}

        {% else %}
            {{ throw(message="No CDN processed mapping for '" ~ src ~ "'. Update data/cdn_processed.json before building in CDN mode.") }}
        {% endif %}

    {% else %}
        {% if not quality %} {% set quality = 60 %} {% endif %}
        {% set image = resize_image(path=image_path, width=r, height=r, op="fit", format="webp", quality=quality) %}
        {% set url = image.url %}
    {% endif %}
{% else %}
    {% set url = image_path %}
{% endif %}

{% if size_landscape %}
    <img src="{{url}}" alt="{{alt}}" title="{{full_title}}" width="{{s}}" />
{% else %}
    <img src="{{url}}" alt="{{alt}}" title="{{full_title}}" height="{{s}}" />
{% endif %}
{% if caption %}
    <br /><em>{{caption}}</em>
{% endif %}
</a></div>